name: Rake ox-hugo

on:
  push:
    branches: [src]
  pull_request:
    branches: [src]
  schedule:
    - cron: "0 0 */1 * *"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          submodules: "recursive" # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0 # Fetch all history for .GitInfo and .Lastmod

      - uses: cachix/install-nix-action@v13
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Get and initialize binary cache
        run: |
          nix-env -iA cachix -f https://cachix.org/api/v1/install
          cachix use rgoswamime

      - name: Build
        run: nix-shell --run "rake hugoBuild"

      - name: Cache Nix Results
        env:
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          cachixName: rgoswamime
        run: |
          cachix authtoken $authToken
          nix-store -qR --include-outputs $(nix-instantiate shell.nix) | cachix push $cachixName

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3.8.0
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          enable_jekyll: true
          publish_branch: gh-pages
          publish_dir: ./public
